:root {
    --pink-light: #FAF3F5; /* Fondo general */
    --pink-medium: #F7C8D6; /* Fondo de la navbar */
    --pink-dark: #E38AAE; /* Botones principales */
    --pink-hover: #D870A3; /* Hover de botones */
    --gray-text: #6B6B6B; /* Texto secundario */
    --navbar-text: #4A4A4A; /* Texto de la barra de navegación */
}
#imgcarousel{
    max-height: 200px;
    max-width: 600px; 
    object-fit: cover;
}

.contact{
    color: #e75480;
}

.btn-submit{
    background-color: #e75480;
    border: none; 
    padding: 10px; 
    font-size: 1.2rem; 
    border-radius: 30px;
}

#home{
    background: linear-gradient(145deg, #ffefef, #ffc0cb); 
    color: #333; 
    overflow: hidden;
}

#bnv{
    font-family: 'Comic Sans MS', cursive;
}

.lead{
    font-size: 1.25rem; 
    font-family: 'Segoe UI', sans-serif;
}

#prodcts{
    background-color: #e75480; 
    border: none; font-size: 1.2rem; 
    padding: 10px 20px; 
    border-radius: 30px;
}