:root {
    --pink-light: #FAF3F5; /* Fondo general */
    --pink-medium: #F7C8D6; /* Fondo de la navbar */
    --pink-dark: #E38AAE; /* Botones principales */
    --pink-hover: #D870A3; /* Hover de botones */
    --gray-text: #6B6B6B; /* Texto secundario */
    --navbar-text: #4A4A4A; /* Texto de la barra de navegación */
}

.btn-primary {
    background-color: var(--pink-dark);
    border-color: var(--pink-dark);
}
.btn-primary:hover {
    background-color: var(--pink-hover);
    border-color: var(--pink-hover);
}